.banner-mob {
	img {
		width: 100%;
	}
}

.banner_blog {
	position: inherit;
	z-index: 0;
}



.interna {
	padding: 3rem 0;

	& h1, 
	& h2, 
	& h3, 
	& h4 {
		margin: 20px 0;
		font-weight: 700;		
		color: $roxo;
	}

	& h3 {
		// font-size: 2rem;
	}

	& p, 
	& ul, 
	& ol {
		font-size: 1.2rem;
		color: $cinza;
		@media screen and (max-width: 980px) {    
	      @include ftModal($ftRegular, 14, $ft, $cinza);
	    }
	}

	& ul, 
	& ol {
		margin: 0;
		padding-left: 1.5rem;
	}

	& ul {
		list-style: initial;

		& ul {
			list-style: circle;

			& ul {
				list-style: square;
			}
		}
	}

	& a {
		transition: .1s ease;

		&:hover {
			text-decoration: inherit;
		}
	}

	& .fa {
	    font-size: 1.2em;
	    // vertical-align: sub;
	}

	& .bloco {
		position: relative;
		padding: 30px;
		background-color: #fff;

		& + .bloco {
			margin-top: 30px;
		}
	}

	

	& img {
		max-width: 100%;
		height: auto;
	}

	& blockquote {
		border-color: lighten($azul, 30%);
	}

	& figure {
		padding: 1rem;
	}

	& .btn {
		display: inline-block;
		padding: 8px;
		transition: .1s ease;

		&--padrao {
			@extend .btn;
			// font-size: 1.25rem;

			& + .btn--padrao {
				margin-left: 1rem;

				@media screen and (max-width: 425px) {
					margin-left: 0;
					margin-top: 1rem;
				}
			}

			&:hover,
			&:focus {
				color: $verde;
				background-color: lighten($verde, 5%);
			}
		}
	}	
	.row {
		margin: 40px -15px;
		p {
			font-size: 30px;
			font-weight: 300;
			@media screen and (max-width: 980px) {    
	      		@include ftModal($ftRegular, 18, $ft, $cinza);
		    }
		}
	}

	.tb-servicos {
		font-size: 18px;
		@media screen and (max-width: 996px) {
			font-size: 13px;
	    }
	    .th_cor {
			background-color: $azul;
			color: $branco;
			th {
				padding: 25px !important;
				text-align: center;
				@media screen and (max-width: 996px) {
			    padding: 6px !important;
			    vertical-align: middle;
			    font-size: 11px;
				}
			}
		
			th:first-child {		
				width: 40%;
				text-align: left;	
			}
			th:last-child {		    
				background-color: $verde;	
				width: 15%;	
			}
		}
		td {
			background-color: #f3f3f3;
			padding: 25px !important;			
			text-align: center;
			@media screen and (max-width: 996px) {
			    padding: 6px !important;
			    vertical-align: middle;
			    font-size: 11px;
			}
		}
		td:first-child {		    
			text-align: left;
			font-weight: bold;
		}
		td:last-child {		    
			background-color: $verde;
			color: $branco;
		}		
	}


	.tb-padrao {
		font-size: 18px;
		@media screen and (max-width: 996px) {
			font-size: 13px;
		}
		.th_cor {
			background-color: $azul;
			color: $branco;
			th {
				padding: 25px !important;
				text-align: center;
				@media screen and (max-width: 996px) {
					padding: 6px !important;
					vertical-align: middle;
					font-size: 11px;
				}
			}

		}
		td {
			background-color: #f3f3f3;
			padding: 25px !important;
			text-align: center;
			@media screen and (max-width: 996px) {
				padding: 6px !important;
				vertical-align: middle;
				font-size: 11px;
			}
		}

	}

	.adq {
		float: right;
		i {
			margin-left: 10px;
		}
	}

	.compartilhe {
		overflow: hidden;
		width: 100%;
		float: left;
		margin-top: 80px;
		border-bottom: 4px solid #ccc;
		padding-bottom: 15px;
		p {
			float: left;
			color: $preto;
			font-weight: bold;
			font-size: 14px;
			margin-right: 15px;
			margin-top: 10px;
		}
		.box_midia {
			float: left;
		}
	}

	.breadcrumbs {
		ol {
			padding: 0;
			margin-bottom: 30px;
		}
		li {
			display: inline-block;
			font-size: 14px;
			i {
				font-size: 12px;
				margin-left: 5px;
				margin-right: 5px;
				color: $cinza;
			}
		}
	}


	section.carrosel_blog {
		background: $azul;
		padding: 0;
		position: relative;
		margin-bottom: 110px;
		@media screen and (max-width: 1190px) {
			width: 100%;
		}
		.cycle-slideshow {
			min-height: 335px;
			.cycle-pager {
				bottom: -61px;
			}
		}
		h2 {
			padding-top: 15px;
			color: $branco;
			font-size: 34px;
			font-weight: 300;
			margin-top: 40px;
			@media screen and (max-width: 1190px) {				
				font-size: 24px;				
				margin-top: 0;
			}
		}
		p {
			color: $branco;
			font-size: 20px;
			font-weight: 300;
			@media screen and (max-width: 1190px) {				
				font-size: 15px;
			}
		}
		a {
			font-weight: bold;
			&:hover {
				color: $branco;
			}
		}
		.box_foto {
			float: left;
			width: 40%;
			@media screen and (max-width: 1190px) {
				width: 100%;
			}
		}
		.box_texto {
			float: left;
			width: 60%;
			padding: 3% 5%;
			@media screen and (max-width: 1190px) {
				width: 100%;				
				padding: 3% 5% 15%;
			}
		}
		.imagem {
			width: 100%;
			display: block;
			@media screen and (max-width: 1190px) {
				padding: 0;
				background: none;
				width: 100%;
				height: auto;
				iframe {
				width: 100%;
				}
			}    

		}

	}
	.post {
		float: left;
	    margin-bottom: 46px;
		.imagem {
		    float: left;
		    margin-right: 4%;
		    width: 40%;
		    @media screen and (max-width: 980px) {
				width: 100%;
				margin-bottom: 20px;
			}
		}
		.box_texto {
		    float: left;
		    width: 56%;
		    @media screen and (max-width: 980px) {
				width: 100%;
			}
		    .data {
		    	float: left;
		    	margin-right: 20px;
		    	border-right: 1px solid $verde;
		    	padding-right: 20px;
		    }
		    .lendo {
		    	font-weight: bold;
		    }
		    .tags {
		    	a {
		    		background: url(../images/tag.svg)  3px 4px no-repeat;
		    		padding-left: 25px;
		    		margin-right: 15px;
		    		font-weight: bold;
  					@include transition(0.5s);
		    	}
		    }
		    h2 {		  
		    	line-height: 24px;  	
		    	font-weight: 400;
		    	margin-top: 10px;
		    	a {
		    		color: $preto;
		    		font-size: 22px;
  					@include transition(0.5s);
  					&:hover {
  						color: $roxo;
  					}
  					@media screen and (max-width: 980px) {
						font-size: 20px;
					}
		    	}
		    }
		    p {
		    	font-size: 17px;
		    	color: $cinza;
		    }
		}
	}

	aside {		
		.categoria {
			h2 {
				margin-bottom: 15px;
				color: $azul;
			}
			ul {
				padding: 0;
				li {
					list-style: none;
					a {
						color: $preto;
						margin-bottom: 6px;
						display: block;
						&:hover {
							color: $verde;
						}
						@media screen and (max-width: 980px) {
							font-size: 20px;
						}
					}

				}
				.current-cat {
					a {
						color: $verde;
						padding-left: 20px;
						background: url(../images/nav-ativo.png) 0 center no-repeat;
					}
				}

			}
		}


		section.newsletter {
		  margin: 90px 0 80px;
		  @media screen and (max-width: 996px) {
		    margin: 90px 0 0;
		  }
		  h2 {
		  	color: $azul;
		  }
		  h3 {
		    margin-bottom: 20px;
		    font-size: 23px;
		    color: $cinza;
		    font-weight: 300;
		  } 
		  .inpt {
		    border: 2px solid #9a999e;
		    padding: 20px 20px 20px 60px;
		    border-radius: 5px;
		    width: 100%;
		    margin-bottom: 20px;
		    @media screen and (max-width: 996px) {
		      margin: 0 0 20px;
		    }
		  }
		  .inpt_nome {
		    background: url(../images/i-nome.png) 8px 7px no-repeat;    
		  }
		  .inpt_email {
		    background: url(../images/i-email.png) 11px 15px no-repeat;    
		  }
		  .bt_padrao {
		    padding: 17px 28px 17px;
		    border: none;
		    font-size: 22px;
		  }
		}
	}

	.pag {
		text-align: center;
		margin: 30px 0 40px;
		.wp-pagenavi {
			padding: 0;
			.previouspostslink {
				width: auto;
				border-radius: 20px;
				height: auto;
				padding: 10px 20px;
			}
			.nextpostslink {
				width: auto;
				border-radius: 20px;
				height: auto;
				padding: 10px 20px;
			}

			a {
				border: 1px solid $verde;
				padding: 10px 10px;
				border-radius: 50%;
				width: 38px;
				display: inline-block;
				font-size: 15px;
				margin-right: 10px;
				font-weight: bold;
				height: 38px;
				&:hover {
					background: $azul;
					color: $branco;
					border: 1px solid $azul;
				}

			}
			.current {
				@extend a;
				border: 1px solid $azul;
				background: $azul;
				color: $branco;
			}

		}
	}



	.post_interna {
		float: left;
		margin-bottom: 46px;
		h1 {
			margin-bottom: 15px;
		}
		.wp-post-image {
			float: left;
			margin-right: 3%;
			margin-bottom: 1%;
			border-radius: 4px;
			@media screen and (max-width: 980px) {
				width: 100%;
				margin-bottom: 20px;
			}
		}
		.box_texto {
			float: left;
			width: 100%;
			@media screen and (max-width: 980px) {
				width: 100%;
			}
			.box-dt {
				margin-bottom: 50px;
				overflow: hidden;

			}
			.data {
				float: left;
				margin-right: 20px;
				border-right: 1px solid $verde;
				padding-right: 20px;
			}
			.lendo {
				font-weight: bold;
			}
			.tags {
				a {
					background: url(../images/tag.svg)  3px 4px no-repeat;
					padding-left: 25px;
					margin-right: 15px;
					font-weight: bold;
					@include transition(0.5s);
					float: left;
				}
			}
			h2 {
				margin-top: 10px;
				text-transform: uppercase;
				font-weight: bold;
				@media screen and (max-width: 980px) {
					font-size: 22px;
				}

			}
			p {
				font-size: 17px;
				color: $cinza;
			}
		}
	}

	.relacionados {
		margin-top: 50px;
		margin-bottom: 50px;
		float: left;
		width: 100%;
		.tit-relacionados {
			text-align: center;
			font-weight: 300;
			color: $cinza;
			font-size: 26px;
		}
		h3 {
			margin-top: 10px;
			font-size: 15px;
			a {
				color: $cinza;
				&:hover {
					color: $roxo;
				}
			}
		}
		.item {
			float: left;
			width: 33%;
			@media screen and (max-width: 980px) {				
				width: 100%;
				margin-bottom: 30px;
			}
		}
		.box_img {
			width: 263px;
			height: 204px;
			border-radius: 4px;
			a {
				border-radius: 4px;
				display: block;
				height: 199px;
				overflow: hidden;
			}
			div {
				display: block;
				height: 204px;
				border-radius: 4px;
				width: 263px;
				background-position: center;
			}
			img {
				width: 100%;
				border-radius: 4px;
			}
		}
	}
}
.gallery figure {
	float: left;
	width: 228px;
}

.category-perguntas-frequentes .interna aside section.newsletter {
	margin-top: 0;
}

.category-perguntas-frequentes .interna .post .box_texto {
	width: 100%;
}

.category-perguntas-frequentes .interna .post {
	border-bottom: 1px dashed #ccc;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 20px;
}

.box-input {
	margin-bottom: 0;
	min-height: 100px;
}

.box-input input {
	border: 2px solid #9a999e;
	border-radius: 5px;
	padding: 15px;
	width: 100%;
}



.box-input select {
	@extend input;
	padding: 14px;
}

.box-input textarea {
	@extend input;
	height: 255px;
	margin-bottom: 20px;
}



.interna form .row {
	margin-top: 0;
	margin-bottom: 0;
}

.box-form {
	.row {
		margin-top: 0;
		margin-bottom: 0;
	}
	margin: 35px auto;
	width: 100%;
	@media screen and (max-width: 980px) {
		width: 100%;
	}
}

.box-input .wpcf7-submit {
	background: $verde;
	border: none;
	border-radius: 32px;
	color: $branco;
	float: right;
	font-size: 23px;
	font-weight: bold;
	padding: 15px 35px;
	width: auto;
}

.wpcf7-form-control-wrap.file {
	width: 100% !important;
}
.container-contato span.wpcf7-not-valid-tip {
	color: #f00;
	display: block;
	font-size: 12px;
	text-align: right;
	float: right;
}
.wpcf7-mail-sent-ng,
div.wpcf7-mail-sent-ok,
div.wpcf7-validation-errors {
	display: block;
	overflow: hidden;
	width: 98%;
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
	clear: both;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 2% !important;
}

div.wpcf7-mail-sent-ok {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

input[type="file"] {
	display: block;
	font-size: 11px;
}