/*
|-------
| Reset
|-------
*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
}

.bt_padrao {
  color: $branco $i;
  font-weight: bold;
  position: relative;
  z-index: 9;
  border-radius: 30px;
  display: inline-block;
  width: auto;
  padding: 12px 20px 12px 20px;
  background-color: $verde;
  &:focus,
  &:hover {
    background-color: $verde-hover $i;
  }
}


a {  
  color: $verde;
  @include transition(.5s);
  &:hover {
    color: $roxo;
  }
}

html{
  font-size: 16px;
}


ul{
  list-style-type: none;
  margin: 0;
}

figure {
  img{
    width: 100%;
    height: auto;
  }
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0;
}

a{
  text-decoration: none;
}

main{
  overflow: hidden;
}

p + p{
  margin-bottom: ft-c(16);
}

/* Classes uteis */
.img-full{
  @include size(100%, auto);
}

.pos-relative{
  @include relative();
  z-index: 2;
}

.splitter{
  @extend %fr;
  height: 15px;
  border: 1px solid #7c7c7c;
  margin: 3px 0 0 8px;
}

/* Reset Bootstrap */
html .pd-reset{
  padding: 0;
}

html .pd-busc{
  padding-left: 50px;
}

html .pd-reset-rg{
  padding-right: 0;
}

html .pd-reset-lf{
  padding-left: 0;
}

html .pd-left{
  padding-left: 25px;
}

html .container{
}

html a{
  &:hover{
    text-decoration: none;
  }
}

html .bt-cad{
  text-decoration: none;
}

html .carousel-control{
  width: 10%;
  text-shadow: inherit;

  &:hover, &:focus{
  }
}

h2.barra {
  background: url(../images/barrra-h2.png) no-repeat;
  padding-top: 15px;
  margin-top: 40px;  
  @include ftModal($ftBold, 34, $ft, $roxo);
}

h1.titulo {
  @extend h2.barra;
  @include ftModal($ftBold, 51, $ft, $roxo);
    @media screen and (max-width: 980px) {    
      @include ftModal($ftBold, 31, $ft, $roxo);
    }
  margin-bottom: 50px;
}

h3.sub_titulo {
  color: $preto;
  font-size: 30px;
  font-weight: 300;
}

p {}