// |-------------
// | Variables
// |-------------

// Cores
$branco : #ffffff;
$azul : #22539f;
$azul-hover : #042f72;
$verde: #90bd1c;
$verde-hover: #6c9406;
$preto: #383838;
$cinza: #7c7b82;
$roxo: #702d8c;


// Fontes
$ft : 'Roboto', sans-serif;
$ftRegular : 400;
$ftBold : 700;

// Grid
$full : 100%;

// Variaveis Conteudo
$i : !important;