@import "bootstrap/stylesheets/_bootstrap";
@import "global/variables";
@import "global/functions";
@import "global/mixins";
@import "global/reset";
@import "global/placeholder";
@import "global/animate";
@import "font-awesome.min";


body {
  @include ftModal($ftRegular, 15, $ft, $preto);
  box-sizing: border-box;
}

header {
  visibility: hidden;
  z-index: 99;
  position: relative;
}

.wow {
  visibility: hidden;
}

@media screen and (max-width: 992px) {

  .animated {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
  }
  .wow {
    visibility: visible !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}



header {
  transition: .2s ease;
  @media screen and (max-width: 996px) {
    height: 100px;
    overflow: hidden;
  }

  &.ativo {
    @media screen and (max-width: 996px) {
      height: 500px;
    }
  }

  & .toggle {
    display: none;
    float: right;
    width: 1.5rem;
    height: 1.25rem;
    margin-top: 25px;
    border: none;
    background-color: transparent;
    @media screen and (max-width: 996px) {
      display: block;
    }

    &.ativo {
      & span {
        &:nth-child(1),
        &:nth-child(3) {
          opacity: 0;
        }

        &:nth-child(2) {
          transform: rotate(45deg);

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $verde;
            transform: rotate(-90deg);
          }
        }
      }
    }

    & span {
      position: relative;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $verde;
      transition: .2s ease;

      & + span {
        margin-top: 0.25rem;
      }
    }
  }
}

header {
  min-height: 100px;
  padding: 0;
  background: $branco;
  h1 {
    margin-right: 12%;
    margin-top: 15px;
    float: left;
    @media screen and (min-width: 997px) and (max-width: 1200px) {
      margin-right: 7%;
    }
  }
  .menu {
    background: $branco;
    border: none;
    margin-bottom: 0;
    float: left;
    width: 38%;
    margin-top: 0;
    @media screen and (max-width: 996px) {
      width: 100%;
      margin-top: 15px;
    }
    li {
      list-style: none;
      float: left;
      padding-top: 26px;
      width: 24%;
      height: 100px;
      border-top: 8px solid $branco;
      margin-right: 6%;
      padding-bottom: 27px;
      @media screen and (max-width: 996px) {
        width: 100%;
        border-top: 3px solid $branco;
        border-bottom: 1px dashed #cccccc;
        margin: 0;
        padding-top: 10px;
        height: auto;
        padding-bottom: 10px;
        text-align: center;
      }
      &:hover{
        border-bottom:3px solid #90bd1c;
      }
      a {
        font-size: 15px;
        @media screen and (min-width: 997px) and (max-width: 1200px) {
          font-size: 13px;
        }
        color: $cinza;        
        &:hover {
         color: $preto;
        }

      }




    }
    .current {      
      border-top: 8px solid $verde;
      @media screen and (max-width: 996px) {
        border-top: 3px solid $verde;
      }
      a {
        color: $verde;
      }
    }
    .sub-menu li {
      height: auto;
    }
    .rede_conveniada {
      border-left: 1px solid #ccc;
      margin-left: 0;
      padding-left: 5%;
      margin-top: 20px;
      padding-top: 10px;
      height: auto;
      padding-bottom: 10px;
      margin-right: 0;
      width: 24%;
      @media screen and (max-width: 996px) {
        width: 100%;
        margin: 0 0 10px 0;
        border-bottom: 1px dashed #cccccc;
        padding-left: 0;
        border-left: none;
      }
    }
  }

  #menu-item-31 > a {
    display: block;
    min-height: 49px;
    @media screen and (max-width: 996px) {
      min-height: 10px;
    }
  }

  .menu .rede_conveniada:hover .sub-menu {
    display: block;

  }

  .menu .rede_conveniada:hover{
    border-bottom: none;
  }

  .sub-menu {
    display: none;
    background: #e8e8e8;
    border-radius: 0 0 20px 20px;
    padding: 20px;
    position: absolute;
    top: 97px;
    border-top: 3px solid #90bd1c;
    width: 150px;
    @media screen and (max-width: 996px) {
      overflow: hidden;
      border-radius: 0;
      padding: 14px;
      background: #fff;
      border-top: 1px dashed #cccccc !important;
      position: relative;
      top: 10px;
      width: 100%;
      display: block;
    }
    li {
      border: none;
      width: 100%;
      padding:  0;
      &:first-child {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
      }
    }
  }
  .fr {
    float: right;
    width: 37%;
    @media screen and (max-width: 996px) {
      width: 100%;
      text-align: center;
    }
    @media screen and (min-width: 997px) and (max-width: 1200px) {
      width: 38%;
    }
    li {
      width: auto $i;
      display: inline-block;
      margin-top: 8%;
      list-style: none;
      @media screen and (max-width: 996px) {
        margin: 15px auto 0;
        display: inline-block;
      }
      a {
        text-decoration: none;
      }
      ul.dropdown-menu {
        background: #e8e8e8;
        border: medium none;
        border-radius: 0 0 20px 20px;
        box-shadow: none;
        padding-top: 20px;
        top: 23px;
        width: 177px;
        overflow: hidden;
        z-index: 1;
        padding-bottom: 0;
        li {
          width: 100%;
          margin: 0;
          display: block;
          a {
            padding: 15px 20px;
            font-weight: bold;
            &:hover {
              background: $verde;
              color: $branco;
            }
          }
        }
      }
    }
    .dropdown {
      margin-right: 4%;
    }
    .acesse {
      color: $branco $i;
      font-weight: bold;
      position: relative;
      z-index: 9;
      border-radius: 30px;
      float: left;
      width: 181px;
      padding: 12px 20px 12px 46px;
      background-image: url("../images/Padlock.svg");
      background-repeat: no-repeat;
      background-position: 17px 10px;
      background-color: $verde;
      &:focus,
      &:hover {
        background-color: $verde-hover $i;
      }
    }
    .adquira {
      font-weight: bold;
      color: $branco $i;
      float: left;
      border-radius: 30px;
      padding: 12px 20px 12px 52px;
      background-image: url("../images/chat.svg");
      background-repeat: no-repeat;
      background-position: 13px 11px;
      background-color: $verde;
      &:focus,
      &:hover {
        background-color: $verde-hover $i;
      }
    }
  }
  

}

#chatonline {
  .chat-tit {
    background: url("../images/chat-online.jpg") no-repeat;
    text-indent: -9999px;
    display: block;
    margin: 0 auto;
    width: 144px;
    height: 30px;
  }
  p {
    font-size: 14px;
    text-align: center;
    margin: 25px 0;
  }
  #enviochat {
    display: flex;
    margin: 10px auto;
    text-align: center;
  }
}

#centroatende {
  .chat-tit {
    background: url("../images/atende.png") no-repeat;
    color: #702d8c;
    height: 28px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    width: 291px;

    @media screen and (max-width: 996px) {
      font-size: 15px;
    }
  }
}

.banner_principal {
  color: #fff;
  z-index: 1;
  .item {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 650px;
  }
  .carousel-control {
    background: none;
    color: $verde;    
  }
  .carousel-indicators li {
      border: 2px solid $verde;
      width: 15px;
      height: 15px;    
  }
  .carousel-indicators .active {
      background-color: $verde;
      border: 2px solid $verde;
  }  
}

.banner-mob {
  color: #fff;
  .item {
    width: 100%;
    height: auto;
    min-height: auto;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .carousel-control {
    background: none;
    color: $verde;    
  }
  .carousel-indicators li {
      border: 2px solid $verde;
      width: 15px;
      height: 15px;    
  }
  .carousel-indicators .active {
      background-color: $verde;
      border: 2px solid $verde;
  }  
}


p.barra {
  display: block;
  margin: 30px 0;
  text-align: center;
  font-size: 20px;
  color: $roxo;
  span {
    display: block;
    width: 48px;
    font-size: 30px;
    height: 20px;     
    margin: 0 auto;
      color: $roxo;
  }
  .keyframes {
    &--pulse{
      color: $roxo;
      @keyframes pulse{
        0%{
          margin-top: -5px;
          color: $roxo;
        }
        100%{
          margin-top: 5px;
          color: $roxo;
        }
      }
    }
  }
  .u-animation--pulse{
    @extend .keyframes--pulse;
    animation: .5s ease .5s infinite alternate pulse;
  }
}


.porque {
  padding: 70px 0;
  text-align: center;
  background-image: linear-gradient(to right, #faf8fb, #dfe7ef);
  .item {
    @media screen and (max-width: 996px) {
        margin-bottom: 40px;
    }
  }
  h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 50px;
    font-size: 40px;
    @media screen and (max-width: 996px) {
      margin-bottom: 20px;
      font-size: 30px;
    }
    strong {
      display: block;
      color: $roxo;
      font-size: 40px;
      font-weight: 900;
      @media screen and (max-width: 996px) {
        margin-bottom: 0;
        font-size: 35px;
      }
    }
  }
  .cf {
    text-align: right;
    position: absolute;
    font-weight: 300;
    right: 8%;
    font-size: 12px;
    top: 20px;
    @media screen and (max-width: 996px) {     
      text-align: center;
      position: relative;
      font-weight: 300;
      right: 0;
      margin: 20px 0 0;
      display: block;
      font-size: 12px;
      top: 20px;
    }
  }
  .box_img {
    margin-bottom: 40px;
    text-align: center;
    
  }
  h3 {
    font-size: 21px;
    width: 289px;
    color: #702d8c;
    margin: 0 auto 20px;
  }
  p {
    font-size: 15px;
    color: $cinza;
  }
  .row {
    margin-bottom: 60px;
    @media screen and (max-width: 996px) {
      margin-bottom: 0;
    }
  }
  
}


/////////


section.funciona {
  background-image: url(../images/bg-funciona01.png);
  background-position: top center;
  background-repeat: no-repeat;
  padding: 70px 0 0;
  text-align: center;
  background-color: $branco;
  .bg_fun_02 {    
    background-image: url(../images/bg-funciona02.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 174px;
    width: 100%;
    display: block;
  }
  .seta_funciona {
    position: absolute;
    top: -94px;
    background: #fff;
    width: 45px;
    border-radius: 47px;
    height: 80px;
    font-size: 21px;
    padding-top: 8px;
    color: $verde;
    .keyframes {
      &--pulse{
        color: $verde;
        @keyframes pulse{
          0%{
            margin-top: -5px;
          }
          100%{
            margin-top: 5px;
            color: $verde;
          }
      }
    }
  }
  .u-animation--pulse{
    @extend .keyframes--pulse;
    animation: .5s ease .5s infinite alternate pulse;
    }
  }

  .item {
    @media screen and (max-width: 996px) {
        margin-bottom: 40px;
        display: block;
        border-bottom: 1px dashed #ccc;
        padding-bottom: 20px;
    }
    &:hover {
      p {
        color: #9dbb37;
      }

      img {
          margin-top: -139px;        
      }

      .img_solicite {
        img {
          
            margin-top: -141px;
          
        }
      }

     .img_carregue {
        img {
           
            margin-top: -140px;
         
        }
      }

      ///
    }
  }
  h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 50px;
    font-size: 40px;
    @media screen and (max-width: 996px) {
      margin-bottom: 20px;
      font-size: 30px;
    }
    strong {
      display: block;
      color: $roxo;
      font-size: 40px;
      font-weight: 900;
      @media screen and (max-width: 996px) {
        margin-bottom: 0;
        font-size: 35px;
      }
    }
  }
  .cf {
    text-align: right;
    position: absolute;
    font-weight: 300;
    right: 8%;
    font-size: 12px;
    top: 20px;
    @media screen and (max-width: 996px) {     
      text-align: center;
      position: relative;
      font-weight: 300;
      right: 0;
      margin: 20px 0 0;
      display: block;
      font-size: 12px;
      top: 20px;
    }
  }
  .box_img {
    margin-bottom: 40px;
    text-align: center;
    height: 141px;
    overflow: hidden;
    img {
      width: 170px;
      &:hover {
        
      }
    }
  }
  

  .img_agende {
    height: 139px;    
  }
 
  .img_consulta {    
    height: 139px;  
  }
  h3 {
    font-size: 21px;
    width: 289px;
    color: #702d8c;
    margin: 0 auto 20px;
  }
  p {
    font-size: 15px;
    color: $cinza;
  }
  .row {
    margin-bottom: 60px;
    @media screen and (max-width: 996px) {
      margin-bottom: 0;
    }
  }
  
}

//// carrosel 


section.videos {
  background-image: linear-gradient(to bottom, #faf8fb, #e4e8ef);
  padding: 70px 0 150px;
  min-height: 500px;
  h2 {
    background: url(../images/barrra-h2.png) no-repeat;
    padding-top: 15px;
    color: $roxo;
    font-size: 34px;
    font-weight: bold;
    margin-top: 40px;
  }
  h3 {
    color: $preto;
    font-size: 30px;
    font-weight: 300;
  }
  p {
    color: $cinza;
    font-size: 17px;
    font-weight: 300;
  }
  .monitor {
    background: url(../images/monitor.png) no-repeat;
    height: 467px;
    width: 583px;
    display: block;
    padding: 24px 0 0 25px;
    @media screen and (max-width: 1190px) {
      padding: 0;
      background: none;
      width: 100%;
      height: auto;
      iframe {
        width: 100%;
      }
    }    
    img {
      width: 533px;
      height: 300px;
    }
  }

}


.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.cycle-slideshow {position: relative;}
.cycle-slideshow img { 
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; display: block;
}
.cycle-slideshow img:first-child {
    position: static; z-index: 100;
}
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; bottom: -70px; overflow: hidden;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; }
.cycle-pager span.cycle-pager-active { color: $verde; }
.cycle-pager > * { cursor: pointer;}
.cycle-overlay { 
    font-family: tahoma, arial;
    position: absolute; bottom: 0; width: 100%; z-index: 600;
    background: black; color: white; padding: 15px; opacity: .5;
}



////

section.newsletter {
  margin: 90px 0 80px;
  @media screen and (max-width: 996px) {
    margin: 90px 0 0;
  }
  h3 {
    margin-bottom: 40px;
  } 
  .inpt {
    border: 2px solid #9a999e;
    padding: 20px 20px 20px 60px;
    border-radius: 5px;
    width: 100%;
    @media screen and (max-width: 996px) {
      margin: 0 0 20px;
    }
  }
  .inpt_nome {
    background: url(../images/i-nome.png) 8px 7px no-repeat;    
  }
  .inpt_email {
    background: url(../images/i-email.png) 11px 15px no-repeat;    
  }
  .bt_padrao {
    padding: 17px 28px 17px;
    border: none;
    font-size: 22px;
  }
}

///////

footer {
  background: url(../images/rdp.png) center bottom no-repeat;
  min-height: 330px;
  padding-top: 75px;
  position: relative;
  .box-menu {
    float: left;
    margin-right: 9%;
  }
  .marca {
    @media screen and (max-width: 996px) {
      margin-bottom: 40px;
      text-align: center;
    }
  }
  ul {
    float: left;
    margin-right: 10%;
    @media screen and (max-width: 996px) {
      margin-bottom: 20px;
      width: 100%;
    }
    a {
      font-size: 16px;
      color: $preto;
      font-weight: 300;
      display: block;
      margin-bottom: 6px;
      box-sizing: border-box;
      transition: none;

      &:hover{
        border-bottom: 3px solid #90bd1c;
        margin-bottom: 3px;
      }
    }

  }
  h3 {
    font-size: 20px;
    margin-bottom: 30px;
    @media screen and (max-width: 996px) {
      margin-bottom: 10px;
    }
  }
  .midas {
    .face {
      color: $verde;
      font-size: 30px;
      margin-right: 10px;
      &:hover {
        color: $azul;
      }
    }
    .youtube {
      color: $verde;
      font-size: 30px;
      &:hover {
        color: $azul;
      }
    }
  }
  p {
    text-align: center;
    color: $preto;
    margin: 70px 0 20px;
    font-size: 13px;
  }
}

.economia {
  padding: 100px 0;
  background-image: linear-gradient(#eeebeb, #ffffff, #fff);
  h2 {
    text-align: center;
    font-weight: 300 !important;
    margin-bottom: 50px;
    font-size: 40px;
    color: #333;
    @media screen and (max-width: 996px) {
      margin-bottom: 20px;
      font-size: 30px;
    }
    strong {
      display: block;
      color: $roxo;
      font-size: 40px;
      font-weight: 900;
      @media screen and (max-width: 996px) {
        margin-bottom: 0;
        font-size: 35px;
      }
    }
  }
}

@media only screen and (max-width : 979px) {
  .dropdown-backdrop {
    position: static !important;
  }
}

@import "global/internas";